# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_...

# Stripe (добавим позже)
# STRIPE_SECRET_KEY=sk_...
# NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_...
# STRIPE_WEBHOOK_SECRET=whsec_...
